<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper th:namespace="${mapperPackageName}+'.'+ ${p.className}+'Mapper'">
  <resultMap id="baseResultMap" th:type="${pojoPackageName}+'.'+${p.className}">
    <th:block th:each="field : ${p.fieldList}">
      <id th:if="${field.primaryKey}" th:column="${field.fieldName}" th:property="${field.javaName}"  th:jdbcType="${field.jdbcType}"/>
      <result th:unless="${field.primaryKey}" th:column="${field.fieldName}"  th:property="${field.javaName}" th:jdbcType="${field.jdbcType}"/><th:block th:if="!${#strings.isEmpty(field.remark)}" th:utext="'<!-- '+${field.remark}+' -->'"></th:block>
    </th:block>
  </resultMap>
</mapper>
